<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liv.api.auth.dao.TilesDao">

    <select id="getSatelliteTile" parameterType="com.liv.api.auth.entity.Tile" resultType="com.liv.api.auth.entity.Tile">
        SELECT
            `type`,
            zoom z,
            x,
            y,
            tile
        FROM
        <choose>
            <when test="z &lt;= 7">
                GIS_MIX_MAPTILES1_7
            </when>
            <when test="z &gt;= 8 and z &lt;= 10">
                GIS_MIX_MAPTILES8_10
            </when>
            <when test="z == 11">
                GIS_MIX_MAPTILES11
            </when>
            <otherwise>
                gmapnetcache
            </otherwise>
        </choose>
        where `type` = 47626774
        and x = #{x}
        and y = #{y}
        and zoom = #{z}
    </select>

    <select id="getSatelliteMixedTile" parameterType="com.liv.api.auth.entity.Tile" resultType="com.liv.api.auth.entity.Tile">
        SELECT
            `type`,
            zoom z,
            x,
            y,
            tile
        FROM
        <choose>
            <when test="z &lt;= 7">
                GIS_MIX_MAPTILES1_7
            </when>
            <when test="z &gt;= 8 and z &lt;= 10">
                GIS_MIX_MAPTILES8_10
            </when>
            <when test="z == 11">
                GIS_MIX_MAPTILES11
            </when>
            <otherwise>
                gmapnetcache
            </otherwise>
        </choose>
        where `type` = 1024577166
        and x = #{x}
        and y = #{y}
        and zoom = #{z}
    </select>

</mapper>