<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liv.dao.DesktopSubjectMapper">
  <resultMap id="BaseResultMap" type="com.liv.dao.datamodel.DesktopSubject">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SUBJECT" jdbcType="INTEGER" property="subject" />
    <result column="BGCOLOR" jdbcType="VARCHAR" property="bgcolor" />
    <result column="BGIMG" jdbcType="INTEGER" property="bgimg" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="DESKTOP_RESOLUTION" jdbcType="VARCHAR" property="desktopResolution" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Desktop_Subject
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.liv.dao.datamodel.DesktopSubject">
    insert into Desktop_Subject (ID, SUBJECT, BGCOLOR,
      BGIMG, USER_ID, DESKTOP_RESOLUTION
      )
    values (#{id,jdbcType=BIGINT}, #{subject,jdbcType=INTEGER}, #{bgcolor,jdbcType=VARCHAR},
      #{bgimg,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{desktopResolution,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.liv.dao.datamodel.DesktopSubject">
    update Desktop_Subject
    set SUBJECT = #{subject,jdbcType=INTEGER},
      BGCOLOR = #{bgcolor,jdbcType=VARCHAR},
      BGIMG = #{bgimg,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      DESKTOP_RESOLUTION = #{desktopResolution,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, SUBJECT, BGCOLOR, BGIMG, USER_ID, DESKTOP_RESOLUTION
    from Desktop_Subject
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, SUBJECT, BGCOLOR, BGIMG, USER_ID, DESKTOP_RESOLUTION
    from Desktop_Subject
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="com.liv.dao.datamodel.DesktopSubject">
    select ID, SUBJECT, BGCOLOR, BGIMG, USER_ID, DESKTOP_RESOLUTION
    from Desktop_Subject
    <where>
      <if test="userId!='' and userId!=null ">
        and USER_ID =#{userId}
      </if>
    </where>
  </select>
</mapper>