<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>前端组件</title>
		<link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="./kymf_wb01.css"/>
	</head>
	<body>
	<div id="app">
		<el-row type="flex" justify="start" align="top" :gutter="15" v-for="(row, index) in frames"  style="margin-top: 10px;">
		  <el-col :span="3" v-for="(col, index) in row"  >
		    <el-card :body-style="{ padding: '0px' ,backgroundColor:'#e5f0ff'}" >
			  <span class="title">{{col.name}}</span>
		      <img :src="col.logo" class="image">
		      <div style="padding: 14px;">
				<div>{{col.remark}}</div>
		        <div class="bottom clearfix">
		          <el-link :href="col.url" target="_blank">官方网址</el-link>
				  <el-dropdown @command="handleCommand" style="float: right;" v-if="col.others">
				    <span class="el-dropdown-link">
				      其他网址<i class="el-icon-arrow-down el-icon--right"></i>
				    </span>
				    <el-dropdown-menu slot="dropdown" >
				      <el-dropdown-item :command="m.href" v-for="(m, index) in col.others" >{{m.name}}</el-dropdown-item>
				    </el-dropdown-menu>
				  </el-dropdown>
		        </div>
		      </div>
		    </el-card>
		  </el-col>
		  
		</el-row>
	</div>
	</body>
	<!-- import Vue before Element -->
	<script src="../../plugins/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="../../plugins/element-ui/lib/index.js"></script>
	<script>
	  new Vue({
	    el: '#app',
		  data: function() {
			return { 
				frames:[
					[
						{"name":"ClayGL","url":"http://claygl.xyz/","logo":"./img/clayGL.svg","remark":"ClayGL是 ECharts GL的底层图形引擎，是一个渐进式的高性能 WebGL开发框架。ClayGL易于使用，提供了非常丰富的功能能够让大家用最少的代码去快速的打造 3D的应用，基于微内核机制可以保证最小的打包体积足够小，可扩展至高质量的渲染"},
						{"name":"three.js","url":"https://threejs.org/","logo":"./img/threejs.jpg","remark":"JavaScript编写的WebGL第三方库。提供了非常多的3D显示功能",
							"others":[
								{"name":"中文网","href":"http://www.webgl3d.cn/"},
								{"name":"WebGL API","href":"https://developer.mozilla.org/zh-CN/docs/Web/API/WebGL_API"},
							]},

					],
				]
			}
		  },
		  methods: {
			  handleCommand(command) {
				  window.open(command);
			  }
		  },
		  mounted() {
		  },
	  })
	</script>
</html>
