<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liv.api.auth.dao.MenuMapper">
    <resultMap id="MenuDOResultMap" type="com.liv.api.auth.domainmodel.MenuDO">
        <id property="menuId" column="menu_id" />
        <result property="permission" column="permission" />
        <result property="accessCtrl" column="access_ctrl" />
        <result property="menuName" column="menu_name" />
        <result property="parentId" column="parent_id" />
        <result property="description" column="description" />
        <result property="mUrl" column="m_url" />
        <result property="icon" column="icon" />
        <result property="appId" column="app_id" />
        <result property="isLeaf" column="is_leaf" />

        <result property="sort" column="sort" />
        <collection property="actions" column="menu_id"  javaType="ArrayList" ofType="com.liv.api.auth.dao.datamodel.Actions">
            <id property="actionId" column="ACTION_ID" />
            <result property="menuId" column="MENU_ID" />
            <result property="actionName" column="ACTION_NAME" />
            <result property="description" column="A_DESCRIPTION" />
            <result property="permission" column="A_PERMISSION" />
            <result property="actionUrl" column="ACTION_URL" />
            <result property="actionFun" column="ACTION_FUN" />
            <result property="icon" column="A_ICON" />
        </collection>
    </resultMap>
    <select id="findCurUserMenus" resultMap="MenuDOResultMap">
    select
            a.permission,
            b.menu_id ,
            access_ctrl,
            menu_name ,
            parent_id ,
            b.description,
            b.icon,
            b.sort,
            is_leaf,
            app_id,
            m_url ,

            d.ACTION_ID ,
            d.permission as a_permission,
            d.description as a_description,
            d.icon as a_icon,
            d.ACTION_NAME,
            d.ACTION_URL ,
            d.ACTION_FUN
    from
        @[dbschema]USER_PERMISSION c
        inner join @[dbschema]PERMISSION_RESOURCE a on  a.permission_id = c.permission_id
        inner join @[dbschema]MENU b on a.resource_id=b.MENU_ID
        left join @[dbschema]actions d on b.menu_id=d.menu_id
    where
        b.ACCESS_CTRL = 'perm'
          and
         c.user_id=#{userId}
    </select>


    <select id="findRoleMenus" resultMap="MenuDOResultMap">
        select
            a.permission,
            b.menu_id ,
            access_ctrl,
            menu_name ,
            parent_id ,
            b.description,
            b.icon,
            b.sort,
            is_leaf,
            app_id,
            m_url ,

            d.ACTION_ID ,
            d.permission as a_permission,
            d.description as a_description,
            d.icon as a_icon,
            d.ACTION_NAME,
            d.ACTION_URL ,
            d.ACTION_FUN

        from
          @[dbschema]ROLE_PERMISSION c
          inner join  @[dbschema]PERMISSION_RESOURCE a on  a.permission_id = c.permission_id
          inner join @[dbschema]MENU b on a.resource_id=b.MENU_ID
          left join @[dbschema]actions d on b.menu_id=d.menu_id
        where
            b.ACCESS_CTRL = 'perm'
            and c.role_id IN
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>

    <select id="findNoPermMenus" resultMap="MenuDOResultMap">
        select
        b.menu_id ,
        menu_name ,
        access_ctrl,
        parent_id ,
        b.description,
        b.icon,
        b.sort,
        is_leaf,
        app_id,
        m_url ,

        d.ACTION_ID ,
        d.permission as a_permission,
        d.description as a_description,
        d.icon as a_icon,
        d.ACTION_NAME,
        d.ACTION_URL ,
        d.ACTION_FUN

        from
        @[dbschema]MENU b
        left join @[dbschema]actions d on b.menu_id=d.menu_id
        where b.ACCESS_CTRL &lt;&gt; 'perm'
    </select>

    <select id="findByParentId" resultMap="MenuDOResultMap">
        select
        b.menu_id ,
        menu_name ,
        access_ctrl,
        parent_id ,
        b.description,
        b.icon,
        b.sort,
        is_leaf,
        app_id,
        m_url ,

        d.ACTION_ID ,
        d.permission as a_permission,
        d.description as a_description,
        d.icon as a_icon,
        d.ACTION_NAME,
        d.ACTION_URL ,
        d.ACTION_FUN

        from
        @[dbschema]MENU b
        left join @[dbschema]actions d on b.menu_id=d.menu_id
        <where>
            <choose>
                <when test="parentId!=null and parentId!=''">
                    parent_id = #{parentId}
                </when>
                <otherwise>
                    parent_id is null
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getTreeList" resultMap="MenuDOResultMap">
        select
        b.menu_id ,
        menu_name ,
        access_ctrl,
        parent_id ,
        b.description,
        b.icon,
        b.sort,
        is_leaf,
        app_id,
        m_url ,

        d.ACTION_ID ,
        d.permission as a_permission,
        d.description as a_description,
        d.icon as a_icon,
        d.ACTION_NAME,
        d.ACTION_URL ,
        d.ACTION_FUN

        from
        @[dbschema]MENU b
        left join @[dbschema]actions d on b.menu_id=d.menu_id
        where 1=1
        <if  test="menu.menuName!=null and menu.menuName!=''">
           and menu_name like CONCAT('%',#{menu.menuName},'%')
        </if>
        <if  test="menu.appId!=null and menu.appId!=''">
           and app_id = #{menu.appId}
        </if>
    </select>


    <select id="findPageList" resultMap="MenuDOResultMap">
        select
        b.menu_id ,
        menu_name ,
        access_ctrl,
        parent_id ,
        b.description,
        b.icon,
        b.sort,
        is_leaf,
        app_id,
        m_url ,

        d.ACTION_ID ,
        d.permission as a_permission,
        d.description as a_description,
        d.icon as a_icon,
        d.ACTION_NAME,
        d.ACTION_URL ,
        d.ACTION_FUN

        from
        @[dbschema]MENU b
        left join @[dbschema]actions d on b.menu_id=d.menu_id
        ${ew.customSqlSegment}
    </select>

</mapper>